<div class="container card shadow Anton" style="padding: 10px; background: transparent">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[0]?.id}}"> <img src={{newReleases[0]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center">{{newReleases[0]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[1]?.id}}"> <img src={{newReleases[1]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[1]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[2]?.id}}"> <img src={{newReleases[2]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[2]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[3]?.id}}"> <img src={{newReleases[3]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[3]?.name}}</div>
      </div>
    </div>
  </div>
  <div style="height: 20px"></div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[4]?.id}}"> <img src={{newReleases[4]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[4]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[5]?.id}}"> <img src={{newReleases[5]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[5]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[6]?.id}}"> <img src={{newReleases[6]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[6]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[7]?.id}}"> <img src={{newReleases[7]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[7]?.name}}</div>
      </div>
    </div>
  </div>
  <div style="height: 20px"></div>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[8]?.id}}"> <img src={{newReleases[8]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[8]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[9]?.id}}"> <img src={{newReleases[9]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[9]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[10]?.id}}"> <img src={{newReleases[10]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[10]?.name}}</div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <a routerLink="/albums/{{newReleases[11]?.id}}"> <img src={{newReleases[11]?.images[0].url}} width="100%" height="100%"></a>
        <div align="center"> {{newReleases[11]?.name}}</div>
      </div>
    </div>
  </div>
</div>