<div style="height: 77px;"></div>
<div class="container" align="center">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="card" style="padding: 20px">
      <img src="../../../assets/spotify.png" align="center">
      <h1>Welcome, to <span class="Raleway" style="color: #0f5db7">ngSpotify</span></h1>
      <h4>A Spotify API based music player. Please log in using spotify account.</h4>
      <div align="center">
        <button class="btn btn-primary btn-success" (click)="login()">Log in</button>
      </div>
    </div>
    <div style="height: 5px"></div>
    <div class="row">
      <div class='container-fluid'>
        <p class='copyright text-center'>© 2019 ngSpotify. All rights reserved. Developed solely by
          <a href='https://www.linkedin.com/in/vishaish-pandita/' target='_blank'>Vishaish Pandita</a>
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>

</div>